.centered-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.base-button {
  cursor: pointer;
  border-radius: 50%;
  height: min-content;
  width: min-content;
  padding: 5px;
  display: flex;
  border: none;
  background: #1db954;
}

.base-anchor {
  cursor: pointer;
  display: block;
  display: flex;
  column-gap: 5px;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
  padding: 5px;
  border-radius: 5px;
  width: max-content;
  transition: transform 0.12s ease-in;
  svg {
    height: 16px;
    width: 16px;
    display: block;
  }
  &:hover {
    transform: scale(1.03);
  }
  &:focus {
    transform: scale(1.03);
    outline: none;
  }
}

.track {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &__time {
    font-size: 11px;
  }
  &__bar-time {
    width: 250px;
    height: 3px;
    border-radius: 3px;
    background-color: #bfbfbf;
    position: relative;
    &__progress {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 3px;
      border-radius: 3px;
      background-color: #1db954;
    }
  }
}

.pause-animation {
  animation-play-state: paused !important;
}
